/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Cabin', sans-serif !important;
	background-color: #F0F0F0;
	/*background:url(../images/banner.png) 0px 0px;*/
}
/*-- main --*/
.main{
	width:90%;
    margin:10px auto 20px;
}
.main h1{
	font-size:18px;
	color:#000;
	margin:0 0 1em;
	text-align:center;
	font-family: 'Cinzel', serif;
	font-weight: 600;
}
.footer {
    margin: 5em 0 0;
}
.footer p{
	text-align:center;
	font-size: 1em;
    color: #050505;
	margin:0;
	line-height:1.8em;
}
.footer p a{
	color:#F9AC18;
}
.footer p a:hover{
	color:#050505;
}
.main-grid{
	background: #fff;
    padding: 2em;
    border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
    box-shadow: 0px 2px 0px #C2C2C2;
	-webkit-box-shadow: 0px 2px 0px #C2C2C2;
	-moz-box-shadow: 0px 2px 0px #C2C2C2;
	-o-box-shadow: 0px 2px 0px #C2C2C2;
	-ms-box-shadow: 0px 2px 0px #C2C2C2;
	position:relative;
}
.main-grid:after{
	/*content: '';
    position: absolute;
    bottom: -3.5%;
    left: 2%;
    background: #fff;
    width: 95.9%;
    height: 7px;
    box-shadow: 0px 2px 0px #C2C2C2;
    -webkit-box-shadow: 0px 2px 0px #C2C2C2;
    -moz-box-shadow: 0px 2px 0px #C2C2C2;
    -o-box-shadow: 0px 2px 0px #C2C2C2;
    -ms-box-shadow: 0px 2px 0px #C2C2C2;
    border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px; */
}
.main-grid-left{
	float:left;
	width:25%;
    display: block;
    margin-right: 10%;
}
.main-grid-left h2 {
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: .5em;
    border: 1px solid #D7D7D7;
    text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.main-grid-left p{
	padding: .3em 0 .5em;
    background: #6cc727;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main-grid-right h3{
	font-size: 14px;
    color: #000;
    margin: 0;
    line-height: 1.5em;
    padding-bottom: .7em;
    border-bottom: 1px dotted #999;
	letter-spacing: 1px;
}
.main-grid-right h3 span{
	display: block;
    font-size: 14px;
    line-height: 1.5em;
    color: #000000;
}
.main-grid-right h3 span a{
	text-decoration:none;
	color:#6cc727;
}
.main-grid-right h3 span a:hover{
	color:#999;
}
.main-grid-right {
    float: left;
    width:65%;
    display: block;
}
.main-grid-right p{
	margin:1em 0;
	color:#999;
	font-size:12px;
	line-height:1.8em;
}
.read a{	
	color:#F9AC18;
	font-size:12px;
	position:relative;
	text-decoration:none;
	padding-left:15px;
}
.read a:hover{
	color:#000;
}
.read a:before{
	content: '';
    background: #8F8F8F;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 35%;
    left: 0%;
    border-radius: 30px;
}
/*-- start-responsive-design --*/
@media all and (max-width:1366px) {
	.main {
		width: 90%;
	}
}
@media (max-width: 1024px){
	.main {
		width: 90%;
	}
}
@media (max-width:768px){
	.main {
		width: 90%;
	}
	.main h1 {
		font-size: 18px;
	}
}
@media (max-width:736px){
	.main {
		margin: 10px auto 20px;
	}
	.main h1 {
		font-size: 18px;
		margin: 0 0 1.5em;
	}
}
@media (max-width:667px){
	.main {
		width: 90%;
	}
}
@media (max-width:640px){
	.read a:before {
		top: 35%;
	}
}
@media (max-width:568px){
	.main {
		width: 90%;
	}
}
@media (max-width:480px){
	.main h1 {
		font-size: 18px;
		margin: 0 0 1em;
	}
	.main-grid-left h2 {
		font-size: 13px;
	}
	.main-grid-left p {
		font-size: 12px;
	}
	.main-grid {
		padding: 1.5em;
	}
}
@media (max-width:414px){
	.main-grid-right h3 {
		font-size: 14px;
	}
}
@media (max-width:384px){
	.main h1 {
		font-size: 18px;
	}
	.footer {
		margin: 3em 0 0;
	}
}
@media (max-width: 320px){
	.main h1 {
		font-size: 18px;
	}
	.main-grid-left {
		float: none;
		width: 100%;
		margin-bottom:1em;
	}
	.main-grid-right {
		float: none;
		width: 100%;
	}
	.main-grid-left h2 {
		padding: .3em 0;
	}
	.main {
		margin: 10px auto 20px;
	}
	.main-grid-right p {
		margin: 0.5em 0 1em;
		font-size: 13px;
	}
	.main-grid-right h3 {
		font-size: 14px;
	}
	.main-grid:after {
		/*bottom: -2.5%;*/
	}
	.footer{
		padding:0 0 2em;
	}
	.footer p {
		font-size: 13px;
	}
}

/* For table */
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
}

th, td {
    padding: 5px 10px;
}